*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Be Vietnam Pro", serif;
    text-align: center;
}


/*Grid Layout*/
.table {
    display: grid;
    grid-template-columns: 15rem 1fr;
}

.column {
    display: grid;
    grid-template-rows: 10rem repeat(8, 1fr) 1.5fr;
}

.plans {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-x: auto;
}

.plan :nth-child(1) {
    grid-row: 1 / 2;
}
.feature :nth-child(1), .plan :nth-child(2) {
    grid-row: 2 / 3;
}
.feature :nth-child(2), .plan :nth-child(3) {
    grid-row: 3 / 4;
}
.feature :nth-child(3), .plan :nth-child(4) {
    grid-row: 4 / 5;
}
.feature :nth-child(4), .plan :nth-child(5) {
    grid-row: 5 / 6;
}
.feature :nth-child(5), .plan :nth-child(6) {
    grid-row: 6 / 7;
}
.feature :nth-child(6), .plan :nth-child(7) {
    grid-row: 7 / 8;
}
.feature :nth-child(7), .plan :nth-child(8) {
    grid-row: 8 / 9;
}
.feature :nth-child(8), .plan :nth-child(9) {
    grid-row: 9 / 10;
}
.feature :nth-child(9), .plan :nth-child(10) {
    grid-row: 10 / 11;
}

/*Layout*/
header {
    padding: 3rem 1rem;
    background-image: url(resources/bg-pattern.png);
    background-color: #F8FAFC;
    border-bottom: 1px solid #E5E7EB;
}
main {
    padding: 3rem 1rem;
}
.table {
    max-width: 71.25rem;
    min-height: 70vh;
    margin: auto;
}
.feature > :not(:last-child) {
    background-color: #F8FAFC;
}
.column:not(.popular) > :not(:last-child) {
    border-bottom: 1px solid #E5E7EB;
}
.popular > * {
    border-bottom: 1px solid #4D556233 ;
}
.heading {
    border-bottom: none !important;
}
.column > * {
    align-content: center;
}
.feature > :first-child {
    border-top-left-radius: 15px;
}
.feature > :nth-last-child(2) {
    border-bottom-left-radius: 15px;
    overflow: hidden;
}
.popular > :first-child {
    border-radius: 15px 15px 0 0;
}
.popular > :last-child {
    background-color: #7C4F1E;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
}
.popular > :not(:last-child){
    background-color: #121826;
}

/*Typography*/
h1 {
    color: #000000;
    font-size: 2rem;
    font-weight: 700;
    
    width: min(16rem, 100%);
    margin: 0 auto 1rem;
}
header > p {
    color: #4D5562;
    font-size: 1rem;
    font-weight: 400;

    width: min(28rem, 100%);
    margin: auto;

}
h2 {
    font-size: 1rem;
    text-align: left;
    padding-left: 0.7rem;
}
.category {
    color: #263FA9;
    font-weight: 700;
}
.price {
    color: #000000;
    font-size: 4rem;
    font-weight: 600;
}
.popular, .popular .category, .popular .price, .popular a {
    color: #ffffff
}
.popular .category {
    font-weight: 400;
    background-color: #263FA9;
    border-radius: 15px;
    
    width: min(100%, 5.5rem);
    margin: auto;
    padding: 0.15rem
}
a {
    color: #263FA9;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular a {
    font-weight: 400;
}